{$APP_HOST} {
	encode zstd gzip
	request_body {
		max_size 12MB
	}
	header {
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Frame-Options "SAMEORIGIN"
	}
	reverse_proxy app:3000
}
